JOB_PORTAL_POSTGRES_USER=
JOB_PORTAL_POSTGRES_PASSWORD=
JOB_PORTAL_POSTGRES_DB=
JOB_PORTAL_POSTGRES_HOST=
JOB_PORTAL_POSTGRES_PORT=
JOB_PORTAL_POSTGRES_DATABASE_URL=

SERVER_PORT=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GITHUB_CLIENT_SECRET=

KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_DB=
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_DB_URL=