<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="signup-container">
            <form action="/portal/register" method="post" class="signup-form">
                <h2>Create Account</h2>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="firstName">Full Name</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>
                <div class="input-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>
                <div class="input-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="userEmail" name="userEmail" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="userPassword" name="userPassword" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit">Sign Up</button>
                <p class="login-link">
                    Already have an account? <a href="login.html">Log In</a>
                </p>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>